# Analysis of PyCity Schools Performance
---
#### Reading Scores
Charter schools in the PyCity Schools district have demonstrated a notable advantage in reading proficiency. The analysis reveals that Charter schools have shown significant gains in reading scores compared to their District school counterparts, even when accounting for similar student demographics.

#### Math Scores
The trend observed in reading scores extends to math performance as well. Charter schools consistently outperform District schools in math, indicating a broader pattern of academic excellence in these institutions.

#### Overall Scores
When considering overall academic performance, Charter schools emerge as clear leaders. The data indicates that a significantly higher percentage of students in Charter schools pass both math and reading tests, with passing rates of 90.43% compared to 53.67% in District schools.

#### Charter Schools
- **Budget**: $7,301,505
- **Student Count**: 12,194
- **Budget per Student**: $598.78

Charter schools, with their smaller student populations, have outperformed public District schools across all metrics. This raises questions about whether the superior performance is due to effective school practices or the benefits of serving smaller student bodies. Further analysis is needed to determine the underlying factors contributing to this success.

#### District Schools
- **Budget**: $17,347,923
- **Student Count**: 26,976
- **Budget per Student**: $643.09

In District schools, smaller and medium-sized institutions have shown significantly better math performance, with passing rates between 89% and 91%, compared to just 67% in larger schools. This suggests that school size may play a critical role in student achievement.

#### Budget Analysis
Despite having a larger total budget, District schools do not significantly outspend Charter schools on a per-student basis. Interestingly, higher overall budgets do not correlate with better test results. In fact, schools with higher spending per student did not necessarily achieve superior academic outcomes, highlighting the need for a more nuanced understanding of how financial resources impact educational performance.

This comprehensive analysis underscores the importance of examining various factors, including school size, budget allocation, and educational practices, to understand the drivers of academic success in PyCity Schools. Further research and targeted interventions may help replicate the success of Charter schools across the district.

---
# <ins>CODE & ANALYSIS STEPS</ins>

## Data Sample

In [89]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path


# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

# <ins>DISTRICT SUMMARY</ins>

In [90]:
# Calculate the total number of unique schools

school_count = len(school_data_complete["school_name"].unique())
print(f"The total number of given schools in the school board data are", school_count)

The total number of given schools in the school board data are 15

In [91]:
# Calculate the total number of students

student_count = len(school_data_complete["Student ID"].unique())
print(f"The total number of students given in the school board data are", f"{student_count:,}")

The total number of students given in the school board data are 39,170

In [92]:
# Calculate the total budget

total_budget = school_data["budget"].sum()
print(f"The total of budget allocated for all the 15 schools of the school board is", f"${total_budget:,}")

The total of budget allocated for all the 15 schools of the school board is $24,649,428

In [93]:
# Calculate the average (mean) math score

average_math_score = student_data["math_score"].mean()
print(f"The Average of Maths scores among all of the", f"{student_count:,}", "given student through the school board is", round(average_math_score, 2))

The Average of Maths scores among all of the 39,170 given student through the school board is 78.99

In [94]:
# Calculate the average (mean) reading score

average_reading_score = student_data["reading_score"].mean()
print(f"The Average of Maths scores among all of the", f"{student_count:,}", "given student through the school board is", round(average_reading_score, 2))

The Average of Maths scores among all of the 39,170 given student through the school board is 81.88

In [95]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

passing_score = 70

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= passing_score)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

print(f"Among the", f"{student_count:,}", "given student through the school board,", f"{round(passing_math_percentage, 2)} %", "scored above 70 marks in Maths")

Among the 39,170 given student through the school board, 74.98 % scored above 70 marks in Maths

In [96]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= passing_score)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(f"Among the", f"{student_count:,}", "given student through the school board,", f"{round(passing_reading_percentage, 2)} %", "scored above 70 marks in reading")

Among the 39,170 given student through the school board, 85.81 % scored above 70 marks in reading

In [97]:
# Use the following to calculate the percentage of students that passed math and reading

passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= passing_score) \
                                                  & (school_data_complete["reading_score"] >= passing_score)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

print(f"Among the", f"{student_count:,}", "given student through the school board,", f"{round(overall_passing_rate, 2)} %", "scored above 70 marks in both maths & reading")

Among the 39,170 given student through the school board, 65.17 % scored above 70 marks in both maths & reading

## Snapshot of District's Key Metrics

In [98]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_series = [{"Total Schools": school_count, 
                            "Total Students": student_count, 
                            "Total Budget": total_budget, 
                            "Average Math Score":  round(average_math_score,2), 
                            "Average Reading Score":  round(average_reading_score,2), 
                            "% Passing Math": round(passing_math_percentage,2),
                            "% Passing Reading": round(passing_reading_percentage,2),
                            "% Overall Passing Rate": round(overall_passing_rate,2)
                            }]

district_summary = pd.DataFrame(district_summary_series)

# Formatting

district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.2f}%".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

# <ins>SCHOOL SUMMARY</ins>

In [99]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"].sort_index().sort_values()

In [100]:
# Calculate the total student count per school from school_data
per_school_counts = student_data.value_counts("school_name").sort_index()

In [101]:
# Calculate the total school budget from school_data

per_school_budget = school_data.set_index(["school_name"])["budget"].sort_index()

In [102]:
# Calculate the per capita spending per student from school_data

per_school_capita = per_school_budget/per_school_counts

In [103]:
# Calculate the average maths scores per school from school_data_complete


per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [104]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete

school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= passing_score].groupby("school_name").size().sort_values()

In [105]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete

school_students_passing_reading= school_data_complete[school_data_complete["reading_score"] >= passing_score].groupby("school_name").size().sort_values()

In [106]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= passing_score)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size().sort_values()

## Passing Score Summary

In [126]:
# Create a DataFrame called `passing_score_summary` with columns for the calculations above.
passing_score_summary = pd.DataFrame({  "Average Passing Maths Score"           : school_students_passing_math,
                                        "Average Passing Reading Score"         : school_students_passing_reading,
                                        "Average Passing Maths & Reading Score" : school_students_passing_math_and_reading,
                                    })

passing_score_summary

,Average Passing Maths Score,Average Passing Reading Score,Average Passing Maths & Reading Score
school_name,,,
Bailey High School,3318,4077,2719
Cabrera High School,1749,1803,1697
Figueroa High School,1946,2381,1569
Ford High School,1871,2172,1487
Griffin High School,1371,1426,1330
Hernandez High School,3094,3748,2481
Holden High School,395,411,381
Huang High School,1916,2372,1561
Johnson High School,3145,3867,2549
Pena High School,910,923,871
Rodriguez High School,2654,3208,2119
Shelton High School,1653,1688,1583
Thomas High School,1525,1591,1487
Wilson High School,2143,2204,2068
Wright High School,1680,1739,1626

In [108]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100


passing_rates_dict = {  "Per School Math Passing %": per_school_passing_math, 
                        "Per School Reading Passing %": per_school_passing_reading, 
                        "Per School Overall Passing %": overall_passing_rate
                        }

passing_rates = pd.DataFrame(passing_rates_dict).sort_values(["Per School Overall Passing %"])

## School Data Summary

In [128]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({ "School Type"           : school_types,
                                    "Total Students"        : per_school_counts,
                                    "Total School Budget"   : per_school_budget,
                                    "Per Student Budget"    : per_school_capita,
                                    "Average Math Score"    : per_school_math,
                                    "Average Reading Score" : per_school_reading,
                                    "% Passing Math"        : per_school_passing_math,
                                    "% Passing Reading"     : per_school_passing_reading,
                                    "% Passing Overall"     : overall_passing_rate
                                    })

per_school_summary_formatted = per_school_summary.copy()

# Formatting
per_school_summary_formatted["Total School Budget"] = per_school_summary_formatted["Total School Budget"].map("${:,.2f}".format)
per_school_summary_formatted["Per Student Budget"] = per_school_summary_formatted["Per Student Budget"].map("${:,.2f}".format) 
per_school_summary_formatted["Average Math Score"] = per_school_summary_formatted["Average Math Score"].map("{:,.2f}".format)
per_school_summary_formatted["Average Reading Score"] = per_school_summary_formatted["Average Reading Score"].map("{:,.2f}".format)
per_school_summary_formatted["% Passing Math"] = per_school_summary_formatted["% Passing Math"].map("{:,.2f}%".format)
per_school_summary_formatted["% Passing Reading"] = per_school_summary_formatted["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary_formatted["% Passing Overall"] = per_school_summary_formatted["% Passing Overall"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary_formatted

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [110]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = round(per_school_summary.sort_values(["% Passing Overall"], ascending=False),2)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

In [111]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = round(per_school_summary.sort_values(["% Passing Overall"], ascending=True))
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,53.0
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,53.0
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,54.0
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,54.0
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,54.0

## Math Scores by Grade

In [112]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean(numeric_only=True)["math_score"]
tenth_grader_math_scores = tenth_graders.groupby("school_name").mean(numeric_only=True)["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby("school_name").mean(numeric_only=True)["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby("school_name").mean(numeric_only=True)["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
                                    "9th"   : round(ninth_grade_math_scores,2),
                                    "10th"  : round(tenth_grader_math_scores,2),
                                    "11th"  : round(eleventh_grader_math_scores,2),
                                    "12th"  : round(twelfth_grader_math_scores,2)
                                    })

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [113]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.

ninth_grade_reading_scores = ninth_graders.groupby("school_name").mean(numeric_only=True)["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby("school_name").mean(numeric_only=True)["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name").mean(numeric_only=True)["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name").mean(numeric_only=True)["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
                                    "9th"   : round(ninth_grade_reading_scores,2),
                                    "10th"  : round(tenth_grader_reading_scores,2),
                                    "11th"  : round(eleventh_grader_reading_scores,2),
                                    "12th"  : round(twelfth_grader_reading_scores,2)
                                    })


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

In [114]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [115]:
# Create a copy of the school summary for later aggregations
school_spending_df = round(per_school_summary.copy(),2)

In [116]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels=spending_labels) 

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,90.33,<$585

In [117]:
#  Calculate averages for the desired columns.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean(numeric_only=True)
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean(numeric_only=True)
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean(numeric_only=True)
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean(numeric_only=True)
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Overall"].mean(numeric_only=True)

In [118]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": round(spending_math_scores, 2),
                                "Average Reading Score": round(spending_reading_scores,2),
                                "% Passing Math": round(spending_passing_math,2),
                                "% Passing Reading": round(spending_passing_reading,2),
                                "% Overall Passing": round(overall_passing_spending,2)
                                })

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53
<$585,83.45,83.94,93.46,96.61,90.37

## Scores by School Size

In [119]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [120]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [121]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=size_labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
round(school_size_df,2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,54.64,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,54.29,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,89.23,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,89.89,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,90.33,Medium (1000-2000)

In [122]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Passing Overall"].mean()

In [123]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": round(size_math_scores,2),
                             "Average Reading Score": round(size_reading_scores,2),
                             "% Passing Math": round(size_passing_math,2),
                             "% Passing Reading":round(size_passing_reading,2),
                             "% Passing Overall": round(size_overall_passing,2)
                             })

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Large (2000-5000),77.75,81.34,69.96,82.77,58.29
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Small (<1000),83.82,83.93,93.55,96.10,89.88

## Scores by School Type

In [124]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Passing Overall"].mean()

In [125]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,
                            "Average Reading Score": average_reading_score_by_type,
                            "% Passing Math": average_percent_passing_math_by_type,
                            "% Passing Reading": average_percent_passing_reading_by_type,
                            "% Passing Overall": average_percent_overall_passing_by_type})

# Display results
round(type_summary,2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67